@model MvcEF.Domain.Category;

@using MvcEF.Domain;

@{
    ViewData["Title"] = "Index";
}

<ul>
    @foreach(var item in ViewBag.Categories as List<Category>)
    {
        <li>
           <a href="/category/edit/@item.Id">@item.Name</a>
        </li>
    }
</ul>

<br>

<form asp-controller="Category" asp-action="Add" method="post">
    <div class="form-group">
        <label for="Name">Nome</label>
        <input type="text" class="form-control" asp-for="Name">
    </div>
    <button type="submit">Salvar</button>
</form>